body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

#bright {
    color: black; /* Initial color for 'Bright' */
}

#wright {
    color: white; /* Initial color for 'Wright' */
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
